* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #434343;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

.navigation {
	margin-top: 5px;
	padding: 10px;
}

.navigation li {
	display: inline-block;
}

.logo {
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 6px;
}

.settings {
	float: right;
	padding-right: 10px;
	color: #1ad1ff;
}

.main {
	max-width: 800px;
	margin: 50px auto;
	max-height: 600px;
	text-align: center;
}

.main .session {
	display: inline-block;
}

.session {
	max-width: 380px;
	height: 180px;
	background-color: rgba(13, 13, 13, 0.8);
	border-radius: 15px;
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}



.session h6 {
	margin-top: 20px;
	margin-left: 20px;
	color: white;
	
	font-size: 18px;
}

.session .timer {
	text-align: center;
	margin-top: 50px;
	color: #1ad1ff;
	font-size: 50px;
}

.actions {
	text-align: center;
	margin-top: 40px;
	clear: both;
}

.actions button {
	background: #1ad1ff;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin: 0 10px;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;

	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

.modal-content {
	width: 80%;
	margin: 15% auto;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #888;
	background-color: #fefefe;
}

.modal-content h3 {
	margin-bottom: 10px;
}

.modal-content input {
	margin-top: 10px;
	max-width: 40px;
	margin-bottom: 10px;
}

.modal-content button {
	display: block;
	padding: 8px 16px;
	border: 0;
	background-color:#404040;
	margin-top: 30px;
	color: #1ad1ff;
	cursor: pointer;
	border-radius: 6px; 
}


.close {
	color: #aaa;
	float: right;
	font-style: 28px;
	font-weight: bold;
	cursor: pointer;
}

.footer {
	color: white;
	text-align: center;
	background-color: black;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: 0;
	width: 100%;
}


.footer a {
	color: #1ad1ff;
	text-decoration: none;
}

